/*
a {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 500%;
    margin-top: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000000;
    text-shadow: 5px 5px #00ff00; 
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #ff33cc;
}

a:active {
    color: blue;
}
*/
body {
    background-color: black;
}

h1 {
    color: white; 
    display: block;
    font-family: "Comic Sans MS", cursive, sans-serif;
    /*text-shadow: -7px 0 black, 0 7px black, 7px 0 black, 0 -7px black;*/
    text-shadow: 10px 15px #00ff00;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #000000;
    font-size: 300%;
    margin-top: 300px;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    color: white; 
    background-color: rgba(0, 0, 0, 0.521);
    display: inline-block;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 300%;
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: hotpink;
}